<a href="/zmogus">Prideti nauja zmogu</a>
<button onclick="showDOM();">Show DOM</button>
<button onclick="addButton();">Add button</button>
<button onclick="addText();">Add text</button>
<table id="t">
    <thead>
        <tr>
            <th>Vardas</th>
            <th>Pavarde</th>
            <th>Alga</th>
        </tr>
    </thead>
    <tbody>
        {{#each zmones}}
        <tr>
            <td><a href="/zmogus/{{id}}">{{vardas}}</a></td>
            <td><a href="/zmogus/{{id}}">{{pavarde}}</a></td>
            <td>{{alga}}</td>
            <td><a href="/zmogus/{{id}}/delete">X</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>